* {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  height: 15vh;
  color: white;
  background-color: #494747;
}
.content-box {
  width: 100vw;
}
.inner-box {
  height: 70vh;
  width: 70vw;
  border: 1px solid black;
  margin-top: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.inner-nav {
  height: 10vh;
  background-color: #c65f5f;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 10px;
  font-family: monospace;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
